@media screen and (max-width: 1279px) {
  body {
    /*flex-direction: column-reverse;*/
    transform: scale(calc(100vw / 650));
    transform-origin: top left;
    overflow-x: hidden;
  }
  tutorial {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  popupwrapper:has(tutorialcontent) {
    width: 100%;
    height: 100%;
  }
  popup:has(tutorialcontent) {
    left: 0;
    top: 0;
    transform: none;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }
  tutorialcontent {
    width: 90%;
    height: 85%;
  }
}
